<p>Stem of the given word using porter's algorithm is :</p>


<b>{{ stem }}</b>

<form method = "get" action = "/porter/">{% csrf_token %}
  <p><input type = "submit" value = "back"/>
</form>
