{% if message %}
  <b>{{ message }}</b>
{% endif %}


<p><b>Porter's Algorithm</b></p>
<p>Porter's algorithm is used to find the stem of a given word.</p>
<p>Provide the word to check its stem.</p>

<p>eg-> thinking -----> think</p>


<form method = "post" action = "/porter/">{% csrf_token %}

	{{ form }}
  <!--p><label for = "id_sentence">sentence:</label>
      <input id = "id_sentence" type = "text" name = "sentence" maxlength = "100" required autofocus-->
  <p><input type = "submit" value = "Submit"/>
</form>

<form method = "get" action = "/">{% csrf_token %}
	
  <p><input type = "submit" value = "main	"/>
</form>