<p>Cosine Similarity between the two given sentences is :</p>
<b>{{ cosine }}</b>


<form method = "get" action = "/cosine/">{% csrf_token %}
  <p><input type = "submit" value = "back"/>
</form>
