{% if message %}
  <b>{{ message }}</b>
{% endif %}

{% load bootstrap %}

<p><b>Cosine Similarity</b></p>
<p>Provide two sentences to check cosine similarity between them.</p>

<p>eg-> </p>
<p>S1: This is a foo sentence </p>
<p>S2: This is foo</p>
<p>Cos : 0.77459</p>
<form method = "post" action = "/cosine/">{% csrf_token %}
	
	{{ form|bootstrap_horizontal:'col-lg-4' }}
	
  <!--p><label for = "id_sentence">sentence:</label>
      <input id = "id_sentence" type = "text" name = "sentence" maxlength = "100" required autofocus-->
  <p><input type = "submit" value = "Submit"/>
</form>

<form method = "get" action = "/">{% csrf_token %}
	
  <p><input type = "submit" value = "main	"/>
</form>