

<h2><p><b>NLP Assignment</b></p></h2>

<h3><p><u>Porter's algorithm implementation</u></p></h3>

<p>Porter's algorithm implementation to find the stem of a given word.</p>
<p>Group Assignment: </p>
<font size='2'><p>Ashutosh Jain (11400EN007) </p>
<p>Utkarsh Chaturvedi (11100EN018) </p>
<p>Mohit Mishra (11100EN060) </p>
<p>Rohit Jain (11100EN020) </p>
<p>Priyank Goel (11100EN005) </p></font>

<form method = "get" action = "/porter/">{% csrf_token %}
  <p><input type = "submit" value = "Porter's algo"/>
</form>


<h3><p><u>Cosine similarity</u></p></h3>
<p>Cosine similarity of two sentences</p>
<p>Assignment: </p>

<font size='2'><p>Ashutosh Jain (11400EN007) </p></font>

<form method = "get" action = "/cosine/">{% csrf_token %}
  <p><input type = "submit" value = "Cosine"/>
</form>

